* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url("../img/background.jpg") no-repeat;
    background-size: cover;
    background-blend-mode: hard-light;
}

#wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
}

.menu {
    background-color: rgba(0, 0, 0, 0.4);
    border: none !important;
}

#menu__logo {
    width: 150px;
}

.navbar-right {
    padding-left: 10px;
    padding-top: 15px;
}

.menu__sign-in-link:link, .menu__sign-in-link:hover,
.menu__sign-in-link:visited, .menu__sign-in-link:active {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
}

@import url(http://fonts.googleapis.com/css?family=Fauna+One|Muli);

#motivation-text {
    font-family: "Open Sans";
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    line-height: normal;
    color: #ffffff;
    text-transform: uppercase;
    margin: 100px auto;
}

.login-form label, input {
    display: block;
    width: 95%;
}

.footer {
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    padding-left: 15px;
    padding-top: 15px;
    font-family: "Open Sans";
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #motivation-text {
        font-size: 30px;
    }

    #logo {
        padding-left: 15px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    #motivation-text {
        font-size: 40px;
    }
}

@media screen and (min-width: 1200px) {
    #motivation-text {
        font-size: 53px;
    }
}

