* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url("../img/background.jpg") no-repeat;
    background-size: cover;
    background-blend-mode: hard-light;
}

#wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
}


@import url(http://fonts.googleapis.com/css?family=Fauna+One|Muli);

#motivation-text {
    font-family: "Open Sans";
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    line-height: normal;
    color: #ffffff;
    text-transform: uppercase;
    margin: 100px auto;
}

.login-form label, input {
    display: block;
    width: 95%;
}


@media screen and (min-width: 768px) and (max-width: 991px) {
    #motivation-text {
        font-size: 30px;
    }

    #logo {
        padding-left: 15px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    #motivation-text {
        font-size: 40px;
    }
}

@media screen and (min-width: 1200px) {
    #motivation-text {
        font-size: 53px;
    }
}

#login-form {
    width: 350px;
    background: #FFF;
    padding: 30px;
    border-radius: 5px;
}

.login-controls {
    padding-top: 15px;
    border-top: 2px solid #CCC;
}

